@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


body{
    margin: 0;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
}

p, blockquote {
    font-size: .9em;
    line-height: 1.2em;
}

ul {
    list-style-type: none;
}

.container{
    text-align: center;
   
}

.logo {
    margin: 1em;
    width: 80px;
}

header{
    display: flex;
    font-size: 24px; 
    
}
.list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


h1{
    font-size: 80px;
}

.catimg{
    width: 650px;
}

.phonenumber{
    list-style-type: circle;
    text-align: left;
}

.footer-container{
    padding: 3em 0;
    background-color:wheat;
}